<ul class="logo-block">
    {% if person.email != nil %}
    <li class="logo">
      <a href="mailto:{{ person.email }}" title="Email {{ person.firstname }} {{ person.surname }}" target="_blank">
        <img class="logo" src="{{ base.url }}/assets/images/icons/mail-svgrepo-com.svg" alt="email">
      </a>
    </li>
    {% endif %}

    {% if person.github != nil %}
    <li class="logo">
      <a href="//github.com/{{ person.github}}" title="Fork {{ person.firstname }} {{ person.surname }} on GitHub" target="_blank">
        <img class="logo" src="{{ base.url }}/assets/images/icons/github.svg" alt="github">
      </a>
    </li>
    {% endif %}
  </ul>
